body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Bar */

.fade {
  /* Firefox */
  -moz-transition: all 0.4s linear;
  /* WebKit */
  -webkit-transition: all 0.4s linear;
  /* Opera */
  -o-transition: all 0.4s linear;
  /* Standard */
  transition: all 0.4s linear;
}

header h1 {
  color: #FFF;
  display: inline;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 0 0 0 80px;
  text-shadow: 1px 1px 4px #000;
  text-transform: uppercase;
}

.header-img-container img {
  width: 100%;
}

/* .menu-icon {
  display: none;
} */

/* .menu-icon img {
  width: 24px;
} */

/* .initials {
background-color: #000;
display: inline-block;
height: 90px;
margin: 0 50px 0 0;
} */

/* .name a {
  color: #000;
  line-height: 90px;
  padding: 0 60px;
  text-decoration: none;
} */

.name {
  display: inline;
}

.name a {
  text-decoration: none;
}

#navbar {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-section {
  align-self: flex-end;
  display: inline-block;
  padding: 0 60px 0 0;
}

.navbar-section li {
  display: inline;
  padding: 0 20px;
}

.navbar-section ul {
  display: inline;
  padding: 0;
  margin: 0;
}

.navbar-section a {
  color: #FFF;
  font-size: 16px;
  line-height: 90px;
  text-decoration: none;
  text-shadow: 1px 1px 4px #000;
  text-transform: uppercase;
}

.on-scroll {
  background-color: black !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.title-area {
  /* display: inline-block; */
  /* float: left; */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Body */

a.anchor {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

.body-container h2 {
  color: #222;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 20px 0;
  padding: 0;
  text-transform: uppercase;
}

.center {
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px 15px;
}

.center p {
  color: #5B5B5B;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.center .title {
  text-align: center;
}

.contact-container {
  text-align: center;
}

.contact-link a {
  color:#000;
  text-decoration: none;
}

#envelope {
  margin: 0;
  width: 40px;
  padding: 0;
}

footer {
  align-items: center;
  background-color: #DFDFDF;
  color: #5B5B5B;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 100%;
}

footer p {
  font-family: Arial;
  font-size: 12px;
}

hr {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid #8b8b8b;
  margin: 0 auto 50px auto;
  max-width: 400px;
  position: relative;
  z-index: 0;
}

.the-book-header-image {
  text-align: center;
}

.the-book-header-image img {
  width: 100%;
}

/* Media Queries */


@media only screen and (max-width: 1000px) {

  .center {
    padding: 75px;
  }

  .fade {
    /* Firefox */
    -moz-transition: none;
    /* WebKit */
    -webkit-transition: none;
    /* Opera */
    -o-transition: none;
    /* Standard */
    transition: none;
  }

  header {
    overflow: auto;
  }

  .header-img-container img {
    margin-top: 90px;
  }

  /* .menu-icon {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .menu-icon img {
    margin: 8px 20px 0 0;
    vertical-align: middle;
  } */

  .name {
    display: inline-block;
  }

  .name h1 {
    padding: 30px;
  }

  nav {
    background-color: black !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    overflow: auto;
  }

  .navbar-section {
    padding: 0 30px 0 0;
  }

}

@media only screen and (max-width: 800px) {
  .navbar-section ul {
    display: inline-block;
  }

  .navbar-section li {
    display: block;
  }

  .navbar-section a {
    line-height: 40px;
  }

}
